@import "~bootstrap/scss/bootstrap";

body {
  background-color: lightblue;
}

.hide {
  display: none;
}

.navbar {
  margin-bottom: 10px;
}

#movies {
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.col {
  display: flex;
}

.card {
  align-content: center;
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  padding: 5px;
}

.moviePhoto {
  width: 90%;
  align-self: center;
}

.addBtn,.deleteFromWatchList, .deleteBtn  {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.addToWatchListBtn {
  margin-top: 1em;
  height: 45px;
  width: 45px;
}

.removeFromWatchListBtn {
  margin-top: 1em;
  height: 45px;
  width: 45px;
}

.fa-plus-square {
  color: green;
  height: 50px;
  width: 50px;
}

.fa-minus-square {
  color: red;
  height: 50px;
  width: 50px;
}

.fa-check-square {
  color: blue;
  height: 50px;
  width: 50px;
}

.fa-star {
  color: lightgrey;
}

.checked {
  color: rgb(209, 156, 10);
}

.yellow {
  color: rgb(209, 156, 10);
}
